.square-1{
    background-color: red;
}
.square-2{
    background-color: #ECB8A5;
}
.square-3{
    background-color: #7D70BA;
}
.square-4{
    background-color: #CBB1F1;
}
.square-5{
    background-color: #1A1F27;
}
.square-6{
    background-color: #8A8D91;
}