*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centered{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 48px;
    padding-bottom: calc(80px + 24px);
    gap: 30px;
    background-color: #F7F7FA;
}

.hero{
    display: flex;
    flex-direction: column;;
    gap: 30px;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* Typography */
.heading-1{
    font-family: 'Inter', sans-serif;
    font-size: 29px;
    color: #3F403F;
    font-weight: 700;
    /* line-height: 22.5px; */
    margin: 0;
    padding: 0
}
.heading-2{
    font-family: 'Inter', sans-serif;
    font-size: 19px;
    color: #3F403F;
    font-weight: 600;
    line-height: 120%;
    margin: 0;
    padding: 0
}
.heading-3{
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #3F403F;
    font-weight: 700;
    line-height: 22.5px;
    margin: 0;
    padding: 0
}
.text{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #3F403F;
    font-style: normal;
    /* font-weight: 300; */
    line-height: 22.5px;
    text-align: justify;
    margin: 0;
    padding: 0
}
.lable{
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    color: #3F403F;
    font-style: normal;
    font-weight: 600;
    line-height: 22.5px;
    margin: 0;
    padding: 0
}
.link{
    color: #3F403F;
}
.link:hover{
    color: #c4c4c4;
}
/* End Typography */

/* Cardboards Styles */
.cardboard{
    /* border: 1px solid black; */
    background-color: #fff;
    border-radius: 20px;
}

/* Phone Size */
.cardboard-image{
    min-width: 341px;
    max-width: 341px;
    height: 394px;
    margin: 0 auto;
}
.title-about{
    min-width: 341px;
    max-width: 341px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.cardboard-title{
    width: 100%;
    height: 102px;
}
.cardboard-about{
    width: 100%;
    height: 251px;
    padding: 24px;
}
.skills-study{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.cardboard-skills{
    min-width: 341px;
    max-width: 341px;
    height: 172px;
}
.cardboard-study{
    min-width: 341px;
    max-width: 341px;
    height: 347px;
    padding: 24px;
}
.cardboard-project{
    min-width: 341px;
    max-width: 341px;
    height: 277px;
}
.cardboard-form{
    width: 341px;
    height: 683px;
}
.cardboard-footer{
    width: 341px;
    height: 66px;
}
.cardboard-contacts{
    display: none;
}
.cardboard-contacts-mobile{
    width: 375px;
    height: 80px;
    margin: 0 auto;
}
/* end Phone Size */

/* Content Image*/
.content-cardboard-image img{
    object-fit: cover;
    border-radius: 20px;
}
/* End Image container */

/* Content Project */
.content-cardboard-project{
    margin: 24px;
}
.content-cardboard-project-header{
    display: flex;
    margin-bottom: 32px;
    justify-content: space-between;
}
.content-cardboard-project img{
    width: 24px;
    height: 24px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 20px;
}
.cover-image-link{
    display: block;
    justify-content: center;
    width: 100%;
    height: 172px;
}
.cover-image{
    width: 100%;
    height: 100%;
}
.cover-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 0;
}
/* End Content Project */

/* Content Form */
.content-cardboard-form input, 
.content-cardboard-form textarea{
    border: none;
    margin-top: 16px;
    display: flex;
    background-color: #F7F7FA;
    gap: 10px;
    width: 100%;
    padding: 8px;
    border-radius: 20px;
}
/* End Content Form */

/* Content Contacts */
.content-cardboard-contacts img{
    width: 35px;
    height: 35px;
    margin: 12px;
}
.line{
    border: 0.5px solid #3F403F;
    width: 50%;
}
/* End Content Contacts */

/* Content Footer */
.content-cardboard-footer{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.text-footer-left,
.text-footer-right{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.text-footer-left{
    justify-content: start;
    margin-left: 32px;
}
.text-footer-right{
    justify-content: end;
    gap: 16px;
    margin-right: 32px;
}
/* End Content Footer */


/* Device Content Tablet */
/* 
    If "?" it is just in case 
    i have to change it in future
*/
@media (min-width: 720px) { 
    .hero{
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
   .cardboard-image{
        /* ? min-width: 341px; */
        /* ?max-width: 341px; */
        height: 383px;
        margin: 0;
    }
    .title-about{
        /* ? max-width: 341px; */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
    }
    .cardboard-title{
        width: 100%;
        /* ? height: 102px; */
    }
    .cardboard-about{
        width: 100%;
        /* ? height: 251px; */
    }
    .skills-study{
        flex-direction: row-reverse;
        justify-content: center;
        gap: 30px;
    }
    .cardboard-skills{
        width: 100%;
        /* ? height: 172px; */
    }
    .cardboard-study{
        width: 100%;
        /* ? height: 347px; */
    }
    .cardboard-project{
        min-width: 712px;
        height: 496px;
    }
    .cardboard-form{
        width: 712px;
        height: 682px;
    }
    .cardboard-footer{
        width: 712px;
        /* ? height: 66px; */
    }
    /* Content Project */
    .cover-image-link{
        display: block;
        justify-content: center;
        width: 100%;
        height: 381px;
    }
    /* End Content Project */
}

/* Device Content Desktop */
@media (min-width: 1200px) { 

    /* Typography */
    .heading-1{
        font-size: 37px;
    }
    .heading-2{
        font-size: 23px;
    }
    .heading-3{
        font-size: 19px;
    }
    .text{
        font-size: 15px;
    }
    /* End Typography */

   .cardboard-image{
        min-width: 277px;
        max-width: 277px;
        height: 352px;
        margin: 0;
    }
    .title-about{
        min-width: 482px;
        max-width: 482px;
    }
    .cardboard-title{
        width: 100%;
        height: 115px;
    }
    .cardboard-about{
        width: 100%;
        height: 206px;
    }
    .main{
        flex-direction: row-reverse;
        justify-content: center;
    }
    .skills-study{
        width: 381px;
        flex-direction: column;
    }
    .cardboard-skills{
        max-width: 100%;
        height: 172px;
    }
    .cardboard-study{
        max-width: 100%;
        height: 375px;
    }
    .cardboard-project{
        min-width: 785px;
        height: 593px;
    }
    .cardboard-form{
        width: 1196px;
        height: 417px;
    }
    .cardboard-footer{
        width: 1196px;
        height: 66px;
    }
    .cardboard-contacts{
        display: block;
        width: 69px;
        margin-left: 308px;
    }
    .cardboard-contacts-mobile{
        display: none;
    }
      /* Content Project */
      .cover-image-link{
        display: block;
        justify-content: center;
        width: 100%;
        height: 483px;
    }
    /* End Content Project */
}
