*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    background-color: #F7F7FA;
}

.app-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 30px;
}

.hero{
    display: flex;
    flex-direction: column;;
    gap: 30px;
}

.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

/* Cardboards Styles */
.cardboard{
    border: 1px solid black;
    background-color: #fff;
    border-radius: 20px;
}

/* Phone Size */
.cardboard-image{
    min-width: 341px;
    max-width: 341px;
    height: 394px;
    margin: 0 auto;
}
.title-about{
    min-width: 341px;
    max-width: 341px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.cardboard-title{
    width: 100%;
    height: 102px;
}
.cardboard-about{
    width: 100%;
    height: 273px;
}
.skills-study{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.cardboard-skills{
    min-width: 341px;
    max-width: 341px;
    height: 172px;
}
.cardboard-study{
    min-width: 341px;
    max-width: 341px;
    height: 375px;
}
.cardboard-project{
    min-width: 341px;
    max-width: 341px;
    height: 277px;
}
.cardboard-form{
    width: 341px;
    height: 683px;
}
.cardboard-footer{
    width: 341px;
    height: 66px;
}
.cardboard-contacts{
    display: none;
}
.cardboard-contacts-mobile{
    width: 375px;
    height: 80px;
    margin: 0 auto;
}
/* end Phone Size */

/* Device Content Tablet */
@media (min-width: 720px) { 
    .hero{
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
   .cardboard-image{
        min-width: 341px;
        max-width: 341px;
        height: 405px;
        margin: 0;
    }
    .title-about{
        /* min-width: 482px; */
        max-width: 341px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
    }
    .cardboard-title{
        width: 100%;
        height: 102px;
    }
    .cardboard-about{
        width: 100%;
        height: 273px;
    }
    .main{

    }
    .skills-study{
        flex-direction: row-reverse;
        justify-content: center;
        gap: 30px;
    }
    .cardboard-skills{
        width: 100%;
        height: 172px;
    }
    .cardboard-study{
        width: 100%;
        height: 375px;
    }
    .cardboard-project{
        min-width: 712px;
        height: 496px;
    }
    .cardboard-form{
        width: 712px;
        height: 682px;
    }
    .cardboard-footer{
        width: 712px;
        height: 66px;
    }
}

/* Device Content Desktop */
@media (min-width: 1200px) { 
    .hero{

    }
   .cardboard-image{
        min-width: 277px;
        max-width: 277px;
        height: 374px;
        margin: 0;
    }
    .title-about{
        min-width: 482px;
        max-width: 482px;
    }
    .cardboard-title{
        width: 100%;
        height: 116px;
    }
    .cardboard-about{
        width: 100%;
        height: 228px;
    }
    .main{
        flex-direction: row-reverse;
        justify-content: center;
    }
    .skills-study{
        width: 381px;
        flex-direction: column;
    }
    .cardboard-skills{
        max-width: 100%;
        height: 172px;
    }
    .cardboard-study{
        max-width: 100%;
        height: 375px;
    }
    .cardboard-project{
        min-width: 785px;
        height: 577px;
    }
    .cardboard-form{
        width: 1196px;
        height: 417px;
    }
    .cardboard-footer{
        width: 1196px;
        height: 66px;
    }
    .cardboard-contacts{
        display: block;
        width: 69px;
        margin-left: 308px;
    }
    .cardboard-contacts-mobile{
        display: none;
    }
}